<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.frtu.android.ar">

    <!--https://developer.android.com/guide/topics/media/camera.html-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--https://developer.android.com/guide/topics/manifest/uses-feature-element.html#hw-features-->
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <!--
    Storage Permission - If your application saves images or videos to the device's external storage (SD Card),
    you must also specify this in the manifest.
    -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="landscape">
            <!-- Making sure this activity to use landscape orientation -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>